* {
    box-sizing: border-box;
}

table {
    margin: 16px;
    border: 1px solid #000;
    border-collapse: collapse;
}

td {
    text-align: center;
    width: 50px;
    height: 48px;
    line-height: 48px;
    border: 1px solid #000;
    border-collapse: collapse;
}

tr:nth-child(even) td:nth-child(odd) {
    background-color: #000;
}

tr:nth-child(odd) td:nth-child(even) {
    background-color: #000;
}

tr td:first-child,
tr td:last-child {
    background-color: #fff !important;
    border: none !important
}

.chessLetters td {
    background-color: #fff !important;
    border: none !important;
    height: 49px !important;
    line-height: 49px !important;
    padding: 0;
}