* {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 8px;
}

.article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    width: 300px;
    flex-grow: 1;
}